* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.my-1 {
    margin: 1rem 0;
}

.head {
    color: rgb(228, 5, 248);
}

.blue {
    color: rgb(32, 155, 255);

}

.orange {
    color: rgb(245, 97, 43);
}

.green {
    color: rgb(140, 255, 9);
}

.radio {
    font-size: larger;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(34, 33, 33);
    color: white;
    margin: 7rem;
}


.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.text-area {
    border: none;
    resize: none;
    padding-top: 1rem;
    font-weight: bold;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 110%;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area:focus {
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.generate {
    padding: 0.4rem;
    border-radius: 9px;
    background-color: rgb(97, 43, 245);
    color: white;
    font-size: larger;
    cursor: pointer;
    border: none;
}


.copy {
    padding: 0.4rem;
    border-radius: 9px;
    background-color: rgb(97, 43, 245);
    color: white;
    font-size: larger;
    cursor: pointer;
    border: none;
}